*.log
*.tgz
.cache
.DS_Store
.eslintcache
.idea
.env
.specstory
.cursorindexingignore
.next
.temp
tsup.config.bundled_*.mjs
.output
.turbo
cache
coverage
dist
lib-cov
logs
node_modules
temp
workspace
